body {
  margin: 0;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
.dropbutton {
  font-family: futura-pt, sans-serif;
  font-style: normal;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

h3 {
  font-size: 25px;
  font-weight: 500;
}

h4 {
  font-size: 22px;
  font-weight: 500;
}

p,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.active {
  font-weight: 500;
}

/* HEADER */

header {
  background-color: rgb(131, 238, 121);
  top: 0;
  width: 100%;
  max-height: 100vh;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.logo {
  padding: 10px;
  float: left;
}

.logo img {
  width: 170px;
}

.hamburger-menu {
  float: right;
  padding: 20px;
  border-radius: 50%;
  border: none;
  background: transparent;
}

.bar1,
.bar2,
.bar3 {
  width: 45px;
  height: 8px;
  margin: 5px;
  border-radius: 5px;
  background-color: #000;
}

nav {
  display: none;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
  background-color: rgb(131, 238, 121);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: block;
}

.expand-explore,
.expand-exhibitions,
.expand-information {
  display: none;
}

nav p {
  font-size: 30px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid black;
  width: 300px;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 120%;
}

.clear {
  clear: both;
}

.search-bar {
  border: none;
  background: transparent;
  width: 100%;
}

.search-bar img {
  margin: 0 15px -5px -30px;
}

.search-bar input[type="text"],
.search-bar-big input[type="text"] {
  width: 88%;
  height: 15px;
  margin: 15px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.search-bar-big {
  display: none;
}

.fas {
  padding: 3px 0 0 5px;
}

/* Main */

main {
  margin: 10px;
}

main h1,
h2,
h3 {
  text-align: center;
}

.main-intro {
  margin-top: 15px;
  padding: 10px;
  background-color: rgb(241, 255, 230);
}

/* Home: Explore Carousel */

.explore-carousel {
  margin-top: -140px;
  width: 100%;
  max-height: 650px;
  overflow: hidden;
}

.explore-slide {
  display: none;
  margin-bottom: 5px;
}

.explore-slide button {
  text-align: center;
  font-size: 30px;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  top: 33%;
  left: 27%;
  padding: 20px 0 20px 0;
  position: absolute;
  background-color: rgb(131, 238, 121, 0.8);
  width: 50%;
  border-radius: 200px;
  border: none;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  transition: 0.4s;
}

.explore-slide button:hover {
  background-color: rgb(131, 238, 121);
  transition: 0.4s;
  cursor: pointer;
}

.explore-slide img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  position: absolute;
  top: 35%;
  background-color: rgb(131, 238, 121, 0.8);
  transition: 0.4s;
  border-radius: 3px;
  border: none;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgb(131, 238, 121);
  transition: 0.4s;
  text-decoration: none;
}

.prev {
  float: left;
}

.next {
  float: right;
}

/* Home page bottom */

.icon-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 25px 0 25px;
}

.icon-column {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.icon-column h4 {
  margin-top: 0;
}

.icon-column img {
  width: 100px;
}

.share {
  text-align: center;
}

.share-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 25px 15px 25px;
}

.share-column {
  background-color: #eee;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

.share-column p {
  text-align: left;
  margin-left: 15px;
}

/* Kids, Teachers, Researchers, Exhibitions, Special events, Visit, Get involved */

.info-intro {
  text-align: center;
  padding-bottom: 15px;
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-view {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid rgb(131, 238, 121);
  border-radius: 8px;
}

.grid-view img {
  width: 100%;
}

.grid-view h2 {
  background-color: rgb(131, 238, 121);
  margin: 0;
  padding: 5px;
  border-radius: 8px 8px 0 0;
}

.grid-view p {
  padding: 10px;
}

/* About, visit */

.about {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.visit img {
  display: none;
}

/* Contact */

.contact fieldset {
  border: none;
  border-radius: 4px;
  background-color: #eee;
  padding-top: 25px;
  margin-bottom: 30px;
}

.contact label {
  font-size: 16px;
}

.contact input[type="text"],
.contact select,
.contact textarea,
.contact label,
.contact input[type="submit"] {
  width: 95%;
  margin: 10px;
}

.form-error {
  display: none;
  margin: 0 0 15px 10px;
  color: red !important;
}

.contact input[type="text"],
.contact select,
.contact textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.contact input[type="text"],
.contact select {
  margin-bottom: 10px;
}

#message {
  height: 150px;
  max-height: 500px;
  max-width: 660px;
}

.contact input[type="submit"] {
  border: 1px solid #fc9d3d;
  border-radius: 4px;
  color: #000;
  background-color: #fc9d3d;
  padding: 5px;
}

.contact input[type="submit"]:active {
  color: #000;
  background-color: #ff772e;
  font-weight: 600;
}

.submitted {
  display: none;
}

.submitted p {
  color: green;
  margin: 10px;
}

/* Footer */

footer {
  background-color: rgb(131, 238, 121);
  width: 100%;
  min-height: 200px;
  margin-bottom: -30px;
  margin-top: 20px;
}

.footer-row {
  text-align: center;
}

.footer-info {
  padding: 5px;
  line-height: 50%;
  color: #000;
}

.footer-info h4 {
  font-weight: 600;
}

.footer-info h4,
.footer-info p,
.footer-info a {
  color: #000;
}

footer button {
  color: #000;
  background-color: #ff8c1a;
  border: none;
  border-radius: 4px;
  width: 140px;
  height: 30px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

footer button:hover {
  font-weight: 600;
  background-color: #ff5a03;
}

/* MEDIA */

@media (max-width: 500px) {
  .explore-slide button {
    top: 28%;
    left: 25%;
  }

  .prev,
  .next {
    top: 30%;
  }
}

@media (min-width: 700px) {
  #main-content {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .explore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .explore-grid {
    width: 30%;
  }

  .explore-grid img {
    margin-left: 20px;
    width: 90%;
  }

  .explore-slide button {
    top: 38%;
    left: 35%;
    padding: 40px 0 40px 0;
    width: 30%;
    background-color: rgb(131, 238, 121, 0.6);
  }

  .prev,
  .next {
    background-color: rgb(131, 238, 121, 0.6);
    top: 43%;
  }

  .info-grid {
    justify-content: space-evenly;
  }

  .grid-view {
    width: 500px;
  }

  .kids,
  .teachers,
  .researchers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .kids img,
  .teachers img,
  .researchers img {
    width: 700px;
    height: 100%;
  }

  .contact fieldset {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .footer-row {
    display: flex;
    max-width: 1280px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    color: #000;
  }
}

@media (min-width: 931px) {
  main {
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
  }

  /* HEADER */

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    height: auto;
  }

  .logo {
    float: left;
  }

  .hamburger-menu {
    display: none;
  }

  nav {
    float: right;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 10px;
  }

  .search-bar img {
    width: 25px;
    margin: 0;
    padding-right: 100px;
    cursor: pointer;
  }

  nav button {
    display: inline-flex;
    margin-top: 25px;
    border-bottom: none;
    width: 200px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  nav button:active {
    color: black;
  }

  nav ul {
    display: none;
    text-align: left;
  }

  nav a {
    font-size: 16px;
  }

  .noexpand {
    display: none;
  }

  .expand-explore,
  .expand-exhibitions,
  .expand-information {
    display: inline-flex;
    padding: 0;
  }

  .search-bar input[type="text"] {
    display: none;
  }

  .search-bar-big {
    display: none;
    width: 100%;
    background-color: rgb(131, 238, 121);
    padding-left: 10px;
  }

  .search-bar-big input[type="text"] {
    width: 50%;
  }

  .explore-carousel {
    margin-top: -105px;
  }

  .next {
    right: 0;
  }

  .about {
    width: 80%;
    overflow: hidden;
  }

  .about img,
  .visit img {
    float: left;
    margin: 0 10px 0 10px;
  }
}

@media (min-width: 1050px) {
  .visit img {
    display: block;
  }
}
