body {
    margin: 0;
    font-family: sans-serif;
  }

h1, h2, h3, h4, .dropbutton {
    font-family: futura-pt, sans-serif;
    font-style: normal;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

h4, .dropbutton {
    font-size: 22px;
    font-weight: 500;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* HEADER */

header {
    background: #82FF4B;
    min-height: 150px;
    overflow: hidden;
}

#logo {
    width: 150px;
    float: left;
}

.title {
    float: left;
    width: 10%;
    padding-top: 5px;
}

.navbar, #hamburger-menu {
    display: none;
    padding-top: 180px;
}

.hamburger-label {
    float: right;
    margin-top: 40px;
    padding: 10px;
    background-color: #82FF4B;
}


#hamburger-menu:checked ~ .navbar {
    display: block;
}

.hamburger-icon {
    display: inline-block;
    background-color: #000;
    padding: 10px;
    border-radius: 50%;
}

.bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: #82FF4B;
    margin: 6px 0;
    border-radius: 5px;
}

.dropdown-content {
    display: grid;
    padding-left: 8px;
}

.dropbutton {
    border: none;
    background: none;
    font-weight: 600;
}

.dropdown-content a {
    color: black;
    font-family: futura-pt, sans-serif;
    font-size: 20px;
    line-height: 150%;
}

/* Main */

.main-photo {
    position: relative;
    width: 100%;
}

.main-photo img {
    width: 100%;
    height: auto;
}

.button {
    background-color: #FF8C1A;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    position: absolute;
    box-shadow: 3px 3px 5px #222;
}

.button1 {
    top: 50%;
    right: 4%;
}

.button2 {
    top: 45%;
    left: 9%;
}

.button3 {
    top: 35%;
    left: 35%;
}

.button4 {
    top: 11%;
    left: 35%;
}

.main-photo fieldset {
    position: absolute;
    background: #fff;
    border: none;
    box-shadow: 3px 3px 5px #222;
    padding: 0 0 0 15px;
    width: 40%;
    height: auto;
    bottom: 10%;
    left: 5%;
}

/* Footer */

footer {
    background-color: #82FF4B;
    width: 100%;
    min-height: 200px;
    margin-bottom: -30px;
}

.footer-row {
    text-align: center;
}
  
.footer-info {
    padding: 5px;
    line-height: 50%;
    color: #000;
}

.footer-info h4 {
    font-weight: 600;
}
  
.footer-info h4, .footer-info p, .footer-info a {
    color: #000;
}

footer button {
    color: #000;
    background-color:#FF8C1A;
    border: none;
    border-radius: 4px;
    width: 140px;
    height: 30px;
    font-size: 18px;
}

@media(min-width: 700px) {

    .navbar {
        display: flex;
        float: right;
        padding-top: 0px;
    }

    .hamburger-label {
        display: none;
    }

    .dropbutton {
        padding: 0 80px 0 50px;
    }

    .dropdown-content {
        display: none;
    }

    .navbar:hover .dropdown-content {
        display: grid;
        background-color: #82FF4B;
        padding: 10px 0 10px 52px;
        position: absolute;
        z-index: 100;
        width: 100%; 
    }

    .footer-row {
        display: flex;
        max-width: 1280px;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
        color: #000;
      }

}

@media(min-width: 907px) {

    .navbar {
        margin-top: 90px;
    }
}